#!/bin/bash
set -euo pipefail
install -d -m 0755 /etc/pki/ca-trust/source/anchors
echo '${extra_ca_bundle}' | base64 -d > /etc/pki/ca-trust/source/anchors/org-ca.crt
chmod 0644 /etc/pki/ca-trust/source/anchors/org-ca.crt
update-ca-trust extract
