name: Integration Tests

on:
  workflow_dispatch:
  pull_request:
    types: [ready_for_review]
    paths:
      - "**.tf"
      - "test/**"
      - ".github/workflows/test.yml"
  push:
    branches:
      - main
    paths:
      - "**.tf"
      - "test/**"
      - ".github/workflows/test.yml"

env:
  TF_IN_AUTOMATION: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: gha-terraform-aws-eks-cluster

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.11.2
          tofu_wrapper: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.3

      - name: Run Terratest
        working-directory: ./test
        run: |
          go mod download
          go test -v -timeout 60m
